# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objective : 
* List popular languages for Data Science.
* List popular libraries used by Data Scientist.
* List popular Data Science tool.
* Some arithmetic examples.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. scikit-learn
3. Matplotlib

|Data Science Tools|
--------------------
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
M = 200
H = M*60
print(M,'minutes= ',H,' hours')

200 minutes=  12000  hours

## Author
Aimen ZEROUKI